<div *ngIf="loaded; then displayImages"></div>
    <ng-template #displayImages>
        <div *ngFor="let image of imageList">
            <div class="card center" style="width: 613px;">
                <div class="container center">
                    <div>
                        <img class="pfp" src="https://i.postimg.cc/htVmhMcn/58429400a6515b1e0ad75acc.png">
                        <div class="poster">{{image.title}}</div>
                    </div>
                    <img class="post" [src]="image.url">
                </div>
            </div>
        </div>
    </ng-template>
