.card {
    background-color: white;
    border: 1px solid rgb(184, 184, 184);
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 3px;
}

.container {
    padding-top: 16px;
    padding-bottom: 16px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.poster {
    float: left;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 7px;
}

.post {
    width: 614px;
    height: 614px;
}

.pfp {
    float: left;
    margin-left: 15px;
    margin-bottom: 15px;
    width: 32px;
    height: 32px;
}